<!DOCTYPE html>
<html lang="ZH-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/theme/cleanzone/images/favicon.png">
    <title>PtPHP Framework</title>
<!--[if lt IE 9]>
<?php Html::script_static("theme/cleanzone/js/html5shiv/html5shiv.js")?>
<![endif]-->
<?php Html::link_statics("theme/cleanzone",array(
    "js/bootstrap/dist/css/bootstrap.css",
    "fonts/font-awesome-4/css/font-awesome.min.css",
    "js/jquery.datatables/bootstrap-adapter/css/datatables.css",
    "js/highlight/styles/monokai_sublime.css",
    "css/style.css",
))?>
</head>
<body>
  <!-- Fixed navbar -->
  <?php include View("theme/cleanzone/block/head-nav")?>
	<div id="cl-wrapper" class="fixed-menu">
        <?php include View("theme/cleanzone/block/sider-bar")?>
		<div class="container-fluid user-select" id="pcont">
		</div>
	</div>
<?php Html::script_statics("theme/cleanzone",array(
    "js/jquery.js",
    "js/behaviour/general.js",
    "js/jQuery-Cookie/jquery.cookie.js",
    "js/main.js"
))?>
  <script type="text/javascript">
      $(document).ready(function(){
        App.init();
        App.dashBoard();
      });
  </script>
<?php Html::script_statics("theme/cleanzone",array(
    "js/bootstrap/dist/js/bootstrap.min.js",
    "js/jquery.datatables/jquery.datatables.min.js",
    "js/jquery.datatables/bootstrap-adapter/js/datatables.js",
    "js/ckeditor/ckeditor.js",
    "js/highlight/highlight.pack.js",
    "js/htmlformat.js"
))?>

</body>
</html>
