<!DOCTYPE html>
<html lang="ZH-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/theme/cleanzone/images/favicon.png">
    <title>PtPHP Framework</title>
<!--[if lt IE 9]>
<?php Html::script_static("theme/cleanzone/js/html5shiv/html5shiv.js")?>
<![endif]-->
<?php Html::link_statics("theme/cleanzone",array(
    "js/bootstrap/dist/css/bootstrap.css",
    "fonts/font-awesome-4/css/font-awesome.min.css",
    "js/jquery.datatables/bootstrap-adapter/css/datatables.css",
    "css/style.css",
))?>
</head>
<body>
  <!-- Fixed navbar -->
  <?php include View("theme/cleanzone/block/head-nav")?>
	<div id="cl-wrapper" class="fixed-menu">
        <?php include View("theme/cleanzone/block/sider-bar")?>
		<div class="container-fluid user-select" id="pcont">

		</div>
	</div>
<?php Html::script_statics("theme/cleanzone",array(
    "js/jquery.js",
    "js/behaviour/general.js",
))?>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>-->
  <script type="text/javascript">
      function get_main_content($name){
          var url = "/theme/cleanzone/module";
          $.get(url,{"name":$name},function(data){
              if(data.indexOf('{"result":{"msg"') == 0){
                  data = $.parseJSON(data);
                  console.log(data.result);
                  //alert(JSON.stringify(data.result));
              }else{
                $("#pcont").html(data);
              }
          });
      }
      $(document).ready(function(){
          $(".sub-menu a").click(function(){
              $(".sub-menu li").removeClass("active");
              $(this).parent().addClass("active");
          });
        $(".cl-sidebar a").click(function(){
            var href = $(this).attr("href");
            if(href == "#"){
                return true;
            }else{
                get_main_content(href);
                return false;
            }
        });
        //initialize the javascript
        App.init();
        App.dashBoard();
        //introJs().setOption('showBullets', false).start();
        get_main_content("dashboard");
      });
  </script>
<?php Html::script_statics("theme/cleanzone",array(
    "js/bootstrap/dist/js/bootstrap.min.js",
    "js/jquery.datatables/jquery.datatables.min.js",
    "js/jquery.datatables/bootstrap-adapter/js/datatables.js",
))?>

  </body>
</html>
