<!DOCTYPE html>
<html lang="ZH-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/theme/cleanzone/images/favicon.png">
    <title>Clean Zone</title>
<!--[if lt IE 9]>
<?php Html::script_static("theme/cleanzone/js/html5shiv/html5shiv.js")?>
<![endif]-->
<?php Html::link_statics("theme/cleanzone",array(
    "js/bootstrap/dist/css/bootstrap.css",
    "fonts/font-awesome-4/css/font-awesome.min.css",
    "js/jquery.gritter/css/jquery.gritter.css",
    "js/jquery.nanoscroller/nanoscroller.css",
    "js/jquery.easypiechart/jquery.easy-pie-chart.css",
    "js/bootstrap.switch/bootstrap-switch.css",
    "js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css",
    "js/jquery.select2/select2.css",
    "js/bootstrap.slider/css/slider.css",
    "js/intro.js/introjs.css",
    "css/style.css",
))?>
</head>
<body>
  <!-- Fixed navbar -->
  <?php include View("theme/cleanzone/block/head-nav")?>

	<div id="cl-wrapper" class="fixed-menu">
        <?php include View("theme/cleanzone/block/sider-bar")?>
		<div class="container-fluid user-select" id="pcont">

		</div>
	</div>
<?php Html::script_statics("theme/cleanzone",array(
    "js/jquery.js",
    "js/jquery.gritter/js/jquery.gritter.js",
    "js/jquery.nanoscroller/jquery.nanoscroller.js",
    "js/behaviour/general.js",
    "js/jquery.ui/jquery-ui.js",
    "js/jquery.sparkline/jquery.sparkline.min.js",
    "js/jquery.easypiechart/jquery.easy-pie-chart.js",
    "js/jquery.nestable/jquery.nestable.js",
    "js/bootstrap.switch/bootstrap-switch.min.js",
    "js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js",
    "js/jquery.select2/select2.min.js",
    "js/skycons/skycons.js",
    "js/bootstrap.slider/js/bootstrap-slider.js",
    "js/intro.js/intro.js",
))?>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>-->
  <script type="text/javascript">
      function get_main_content($name){
          var url = "/theme/cleanzone/module";
          $.get(url,{"name":$name},function(data){
              if(data.indexOf('{"result":{"msg"') == 0){
                  data = $.parseJSON(data);
                  console.log(data.result);
                  alert(JSON.stringify(data.result));
              }else{
                $("#pcont").html(data);
              }
          });
      }
      $(document).ready(function(){
        $(".cl-sidebar a").click(function(){
            var href = $(this).attr("href");
            if(href == "#"){
                return true;
            }else{
                get_main_content(href);
                return false;
            }

        });

        //initialize the javascript
        App.init();
        App.dashBoard();
        //introJs().setOption('showBullets', false).start();
        get_main_content("dashboard");
      });
  </script>
<?php Html::script_statics("theme/cleanzone",array(
    "js/behaviour/voice-commands.js",
    "js/bootstrap/dist/js/bootstrap.min.js",
    "js/jquery.flot/jquery.flot.js",
    "js/jquery.flot/jquery.flot.pie.js",
    "js/jquery.flot/jquery.flot.resize.js",
    "js/jquery.flot/jquery.flot.labels.js",
))?>
  </body>
</html>
